{% extends "base.html" %}
{% load static %}

{% block title %}
Página Inicial
{% endblock %}

{% block header_links %}
    <li><a href="{% url 'categories-form' %}">Nova Categoria</a></li>
    <li><a href="{% url 'news-form' %}">Nova Notícia</a></li>
{% endblock %}

{% block content %}
<main>
    <div class="news-cards">
        {% for news in news_list %}
        <div class="news-card">
            <h2 class="news-title">{{ news.title }}</h2>
            <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
            {% if news.image %}
                <img src="{% static news.image %}" alt="{{ news.title }}">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
